$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

html, body {
  height: 100%;
  background-color: #ffffff;
}

legend, h2 {
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  color: #5cb85c;
  border-bottom: 1px solid #5cb85c;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

#wrap > .container {
  padding: 50px 15px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: lowercase;
  color: #5cb85c !important;
}

#loginform {
  margin-top: 40px;
}

#loginform form label {
  display: none;
}

/* Set the fixed height of the footer here */
#footer {
  text-align: right;
  height: 40px;
}

#footer p {
  line-height: 40px;
}

#footer p a {
  text-decoration: none;
}

#footer p a:hover {
}
